In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import re

### <span style='color:Pink'>Import database to csv file</span>

In [ ]:
# Create MySQL database connection
engine = create_engine("mysql+mysqlconnector://root:myhien2004@localhost:3306/sample", echo=False)

# Query MySQL table and save to DataFrame
query = f'SELECT * FROM job_scrape'
df = pd.read_sql(query, con=engine)

# Save DataFrame to CSV file
csv_file_path = 'current_jobs.csv'
df.to_csv(csv_file_path, index=False)

print(f'Table job_scrape saved to "{csv_file_path}" successfully.')

### <span style='color:Pink'>Clean salary data</span>

In [ ]:
# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

try:
    with connection.cursor() as cursor:
        # Example SQL SELECT query to fetch data
        sql_select = "SELECT id, salary FROM job_temp"
        cursor.execute(sql_select)
        rows = cursor.fetchall()

        for row in rows:
            salary = row[1]
            if salary is not None:
                salary_values = re.sub(r'[^\d.-]', '', salary)
                salary_values_temp = salary_values.replace('$', '')
                salary_range = salary_values_temp.split('-')
                if len(salary_range) == 2:
                    lower_salary = float(salary_range[0])
                    upper_salary = float(salary_range[1])
                    avg_salary = (lower_salary + upper_salary) / 2 

                    
                    annual_salary = 0
                    if 'year' in salary:
                        annual_salary = avg_salary 
                    elif 'month' in salary:
                        annual_salary = avg_salary * 12 
                    elif 'hour' in salary:
                        annual_salary = avg_salary * 1920 

                    annual_salary = int(round(annual_salary, 0))
                    # Example SQL UPDATE query to update salary_per_year column
                    sql_update = "UPDATE job_temp SET annual_salary = %s WHERE id = %s"
                    update_values = (annual_salary, row[0]) 
                    print("Update Query:", cursor.mogrify(sql_update, update_values))  # Print the update query
                    cursor.execute(sql_update, update_values)
                    # cursor.execute(sql_update, (annual_salary, row[0]))  

    # Commit changes to the database
    connection.commit()
    print("Data updated successfully!")

finally:
    # Close the connection
    connection.close()

In [ ]:
# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

error_rows = [] 
try:
    with connection.cursor() as cursor:
        # Example SQL SELECT query to fetch data
        sql_select = "SELECT id, salary FROM job_temp WHERE annual_salary IS NULL"
        # ql_select = "SELECT id, salary FROM job_temp WHERE salary IS NOT NULL and (annual_salary IS NULL or annual_salary = 0.00);"
        cursor.execute(sql_select)
        rows = cursor.fetchall()

        for row in rows:
            salary = row[1]
            if salary is not None:
                try:
                    salary_values = re.search(r'\d{1,3}(?:,\d{3})*(?:\.\d+)?', salary)
                    if salary_values:
                        salary_int = int(float(salary_values[0].replace(',', ''))) 

                        annual_salary = 0
                        if any(keyword in salary.lower() for keyword in ['year', 'yr']):
                            annual_salary = avg_salary 
                        elif 'month' in salary:
                            annual_salary = avg_salary * 12 
                        elif any(keyword in salary.lower() for keyword in ['hour', 'hr']):
                            annual_salary = avg_salary * 1920 

                        # Example SQL UPDATE query to update salary_per_year column
                        sql_update = "UPDATE job_temp SET annual_salary = %s WHERE id = %s"
                        update_values = (annual_salary, row[0]) 
                        print("Update Query:", cursor.mogrify(sql_update, update_values))  # Print the update query
                        cursor.execute(sql_update, update_values)

                except Exception as e:
                    error_rows.append(row[0])
                    # print(f"Error updating row {row[0]}: {e}")

    print("\nRows with errors:")
    for error_id in error_rows:
        print(f"ID: {error_id}")

    # Commit changes to the database
    connection.commit()
    print("Data updated successfully!")

finally:
    # Close the connection
    connection.close()

In [ ]:
# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

error_rows = [] 
try:
    with connection.cursor() as cursor:
        # Example SQL SELECT query to fetch data
        sql_select = "SELECT id, salary FROM job_temp WHERE salary IS NOT NULL and salary LIKE '%hr%' and (annual_salary IS NULL or annual_salary = 0.00);"
        cursor.execute(sql_select)
        rows = cursor.fetchall()

        for row in rows:
            salary = row[1]
            try:
                salary_data_no_commas = salary.replace(',', '')
                salary_values = salary_values = [float(num) for num in re.findall(r'\d+\.\d+', salary_data_no_commas)]
                average_salary = sum(salary_values) / len(salary_values)
                annual_salary = round(avg_salary*1920, 2) 

                # Example SQL UPDATE query to update salary_per_year column
                sql_update = "UPDATE job_temp SET annual_salary = %s WHERE id = %s"
                update_values = (annual_salary, row[0]) 
                print("Update Query:", cursor.mogrify(sql_update, update_values))  # Print the update query
                cursor.execute(sql_update, update_values)

            except Exception as e:
                error_rows.append(row[0])
                # print(f"Error updating row {row[0]}: {e}")


    print("\nRows with errors:")
    for error_id in error_rows:
        print(f"ID: {error_id}")

    # Commit changes to the database
    connection.commit()
    print("Data updated successfully!")

finally:
    # Close the connection
    connection.close()

### <span style='color:Pink'>Freqencies of skills in "Skill" and "Description" columns</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT s.skill, COUNT(*) AS skill_count
    FROM skills s
    LEFT JOIN job_temp j ON j.skills LIKE CONCAT('%', s.skill, '%') OR j.description LIKE CONCAT('%', s.skill, '%')
    GROUP BY s.skill
    ORDER BY skill_count DESC;
"""

# Execute the query and load results into a DataFrame
try:
    skill_count = pd.read_sql(sql_query, connection)
    print(skill_count.head(200))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
skill_count.to_csv('skill_count.csv', index=False)

### <span style='color:Pink'>Frequencies of skill groups</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

# Define the SQL query to count skill_group frequencies
sql_query = """
    SELECT s.skill_group, COUNT(*) AS skill_group_count
    FROM skills s
    LEFT JOIN job_temp j ON j.skills LIKE CONCAT('%', s.skill, '%') OR j.description LIKE CONCAT('%', s.skill, '%')
    GROUP BY s.skill_group
    ORDER BY skill_group_count DESC;
"""

try:
    # Execute the query and load results into a DataFrame
    skill_group_count = pd.read_sql(sql_query, connection)
    print(skill_group_count.head(200))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)
finally:
    # Close the database connection
    connection.close()

In [ ]:
skill_group_count.to_csv('skill_group_count.csv', index=False)

### <span style='color:Pink'>Frequencies of salary ranges</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT
    s.range_id,
    s.salary_range,
    COUNT(j.annual_salary) AS count_jobs
FROM salaries s
LEFT JOIN job_temp j ON
    (
        (j.annual_salary >= REPLACE(REPLACE(SUBSTRING_INDEX(s.salary_range, '-', 1), '$', ''), ',', '') AND
        j.annual_salary < REPLACE(REPLACE(SUBSTRING_INDEX(s.salary_range, '-', -1), '$', ''), ',', '')) OR
        (s.salary_range = '> $200,000' AND j.annual_salary >= 200000)
    )
    AND j.annual_salary IS NOT NULL
GROUP BY s.range_id, s.salary_range
ORDER BY s.range_id;
"""

# Execute the query and load results into a DataFrame
try:
    salary_count = pd.read_sql(sql_query, connection)
    print(salary_count.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
salary_count.to_csv('salary_count.csv', index=False)

### <span style='color:Pink'>Salary and Industry</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT 
    i.new_industry,
    s.salary_range,
    COUNT(j.annual_salary) AS count_jobs
FROM industries i
JOIN job_temp j ON j.industry = i.industry
LEFT JOIN salaries s ON 
    (j.annual_salary >= REPLACE(REPLACE(SUBSTRING_INDEX(s.salary_range, '-', 1), '$', ''), ',', '') AND
    j.annual_salary < REPLACE(REPLACE(SUBSTRING_INDEX(s.salary_range, '-', -1), '$', ''), ',', '')) OR
    (s.salary_range = '> $200,000' AND j.annual_salary >= 200000)
WHERE j.annual_salary IS NOT NULL
GROUP BY i.new_industry, s.salary_range
ORDER BY i.new_industry, count_jobs DESC;
"""

# Execute the query and load results into a DataFrame
try:
    salary_and_industries = pd.read_sql(sql_query, connection)
    print(salary_and_industries.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
salary_and_industries.to_csv('salary_and_industries.csv', index=False)

### <span style='color:Pink'>Number of jobs among states</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT s.state_id, s.state_name, COUNT(j.id) AS job_count
FROM states s
LEFT JOIN job_temp j ON s.state_id = j.state
GROUP BY s.state_id, s.state_name
ORDER BY job_count DESC;
"""

# Execute the query and load results into a DataFrame
try:
    job_count_each_state = pd.read_sql(sql_query, connection)
    print(job_count_each_state.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
job_count_each_state.to_csv('job_count_each_state.csv', index=False)

### <span style='color:Pink'>Number of jobs among cities (focusing on metropolitan cities)</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT state, city, COUNT(*) AS job_count
FROM job_temp
GROUP BY state, city
ORDER BY state, city;
"""

# Execute the query and load results into a DataFrame
try:
    job_count_each_city = pd.read_sql(sql_query, connection)
    print(job_count_each_city.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
job_count_each_city.to_csv('job_count_each_city.csv', index=False)

### <span style='color:Pink'>Salary range among states</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT 
    s.state_id, s.state_name, 
    sl.range_id, sl.salary_range,
    COUNT(j.id) AS job_count
FROM states s
JOIN job_temp j ON s.state_id = j.state
JOIN (
    SELECT 
        range_id,
        salary_range,
        CAST(REPLACE(REPLACE(SUBSTRING_INDEX(salary_range, '-', 1), '$', ''), ',', '') AS DECIMAL) AS lower_bound,
        CAST(REPLACE(REPLACE(SUBSTRING_INDEX(salary_range, '-', -1), '$', ''), ',', '') AS DECIMAL) AS upper_bound
    FROM salaries
) sl ON j.annual_salary >= sl.lower_bound AND (j.annual_salary < sl.upper_bound OR sl.upper_bound IS NULL)
GROUP BY s.state_id, s.state_name, sl.range_id, sl.salary_range
ORDER BY s.state_id, sl.range_id;
"""

# Execute the query and load results into a DataFrame
try:
    salary_and_state = pd.read_sql(sql_query, connection)
    print(salary_and_state.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
salary_and_state.to_csv('salary_and_state.csv', index=False)

### <span style='color:Pink'>Extract distinct companies</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT DISTINCT company, `Job Board` FROM job_temp;
"""

# Execute the query and load results into a DataFrame
try:
    df = pd.read_sql(sql_query, connection)
    print(df.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
df.to_csv('company.csv', index=False)

### <span style='color:Pink'>Scrape industries of all companies</span>

In [ ]:
# Import Packages
import time

# Store data as a csv file written out
from csv import writer
from datetime import datetime

# Random integer for more realistic timing for clicks, buttons and searches during scraping
from random import randint
from time import sleep

import mysql.connector

# Dataframe stuff
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from seleniumbase import Driver
from sqlalchemy import create_engine,exc
from selenium.webdriver.common.action_chains import ActionChains
import mysql.connector


# Manages Binaries needed for WebDriver without installing anything directly
from webdriver_manager.chrome import ChromeDriverManager
print("- Finish importing packages")

In [ ]:
import csv

# Define an empty list to store company names
company_list = []

# Path to your CSV file
csv_file_path = 'company_search.csv'

# Read the CSV file and add each row to the company_list
with open(csv_file_path, mode='r', newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    # Skip the header row if it exists
    next(reader, None)
    for row in reader:
        # Assuming the company name is in the first column (index 0)
        company_name = row[0]
        company_list.append(company_name)

# Print the company list
print(company_list)

In [ ]:
start = time.time()

url = "https://www.linkedin.com/search/results/companies/?keywords={}&origin=GLOBAL_SEARCH_HEADER&sid=RtT"

options = Options()
options.add_argument("user-data-dir=C:\\Users\\Hien Bach\\AppData\\Local\\Google\\Chrome\\User Data")
options.add_argument("--profile-directory=Default")
options.add_argument("--disable-dev-shm-usage")  # Overcome limited resource problems
options.add_argument("--no-sandbox")  # Bypass OS security model
options.add_argument("--remote-debugging-pipe")
driver = webdriver.Chrome(options=options)
sleep(5)

industry_list = []
for company in company_list:
    
    try:
        # search_key = 'Arbor%20Realty'
        search_key = company.replace(" ", "%20")
        driver.get(url.format(search_key))
        sleep(5)

        src = driver.page_source
        soup = BeautifulSoup(src, "html.parser")

        company_block = soup.find("li", class_='reusable-search__result-container')
        company_name = company_block.find("span", class_="entity-result__title-text t-16").get_text().strip()
        result_str = company_block.find("div", class_='entity-result__primary-subtitle t-14 t-black t-normal').get_text().strip()
        company_industry = result_str.split("â€¢")[0].strip()
        industry_list.append([company, company_name, company_industry])
    except Exception as error:
        print(error)
        industry_list.append([company, None, None])

driver.quit()
end = time.time()
print(end - start, "seconds to complete Query!")

In [ ]:
industry_dict= {
    "company": [],
    "result_company": [],
    "industry": []
}
for i in range(len(industry_list)):
    industry_dict["company"].append(industry_list[i][0])
    industry_dict["result_company"].append(industry_list[i][1])
    industry_dict["industry"].append(industry_list[i][2])

In [ ]:
df = pd.DataFrame(industry_dict)
# engine = create_engine("mysql+mysqlconnector://admin:dataclinic@finance-db.cux1s0fa60hj.us-east-2.rds.amazonaws.com:3306/sample", echo=False)
engine = create_engine("mysql+mysqlconnector://root:myhien2004@localhost:3306/sample", echo=False)
connection = engine.connect()
for i in range(len(df)):
    try:
        df.iloc[i:i+1].to_sql("industry_dict", con=connection, if_exists="append", index=False)
    except exc.IntegrityError:
        pass

### <span style='color:Pink'>Recheck missing datapoints in "Industry" columns</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT * FROM industry_dict;
"""

# Execute the query and load results into a DataFrame
try:
    df = pd.read_sql(sql_query, connection)
    print(df.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
df.to_csv('industry_check.csv', index=False)

### <span style='color:Pink'>Finalize industries table</span>

In [ ]:
engine = create_engine("mysql+mysqlconnector://root:myhien2004@localhost:3306/sample", echo=False)
csv_file_path = 'industry_check.csv'
df = pd.read_csv(csv_file_path)
table_name = 'industry_dict'
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

### <span style='color:Pink'>Update "industry" column in the database</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    UPDATE job_temp jt
JOIN industry_dict ind
ON jt.company = ind.company
SET jt.industry = ind.industry;
"""

# Execute the query and load results into a DataFrame
try:
    df = pd.read_sql(sql_query, connection)
    print(df.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()

### <span style='color:Pink'>Clean "Type" column (working model)</span>

In [ ]:
# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

error_rows = [] 
try:
    with connection.cursor() as cursor:
        # Example SQL SELECT query to fetch data
        sql_query = """
    SELECT j.id, j.location, j.city
FROM job_temp j
LEFT JOIN cities c ON j.city = c.city
WHERE c.city IS NULL and location LIKE '%hybrid remote%' and j.city IS NOT NULL;
"""
        cursor.execute(sql_query)
        rows = cursor.fetchall()
        

# Execute the query and load results into a DataFrame
try:
    df = pd.read_sql(sql_query, connection)
    print(df.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()

### <span style='color:Pink'>Salary and Job among cities</span>

In [ ]:
# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT 
    c.state_code,
    c.state_name,
    c.city,
    sl.range_id,
    sl.salary_range,
    COUNT(j.id) AS job_count
FROM cities c
JOIN job_temp j ON c.state_code = j.state AND c.city = j.city
JOIN (
    SELECT 
        range_id,
        salary_range,
        CAST(REPLACE(REPLACE(SUBSTRING_INDEX(salary_range, '-', 1), '$', ''), ',', '') AS DECIMAL) AS lower_bound,
        CAST(REPLACE(REPLACE(SUBSTRING_INDEX(salary_range, '-', -1), '$', ''), ',', '') AS DECIMAL) AS upper_bound
    FROM salaries
) sl ON j.annual_salary >= sl.lower_bound AND (j.annual_salary < sl.upper_bound OR sl.upper_bound IS NULL)
GROUP BY c.state_code, c.state_name, c.city, sl.range_id, sl.salary_range
ORDER BY c.state_code, c.city, sl.range_id;
"""

# Execute the query and load results into a DataFrame
try:
    top_cities = pd.read_sql(sql_query, connection)
    print(top_cities.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
top_cities.to_csv('top_cities.csv', index=False)

### <span style='color:Pink'>Industy and State</span>

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='myhien2004',
    database='sample'
)

sql_query = """
    SELECT 
    s.state_id,
    s.state_name,
    i.new_industry,
    COUNT(j.id) AS industry_count
FROM states s
JOIN job_temp j ON s.state_id = j.state
JOIN industries i ON j.industry = i.industry
GROUP BY s.state_id, s.state_name, i.new_industry
ORDER BY s.state_id, industry_count DESC;
"""

# Execute the query and load results into a DataFrame
try:
    industry_and_states = pd.read_sql(sql_query, connection)
    print(industry_and_states.head(20))  # Print the first few rows of the DataFrame
except Exception as e:
    print("Error executing SQL query:", e)

# Close the database connection
connection.close()
industry_and_states.to_csv('industry_and_states.csv', index=False)